@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)

*/


body {
    background-color: rgb(206, 210, 252);
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
}

h1 {
    color: rgb(0, 0, 167);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 0, 167);
    color: white;
}

h2 {
    color: rgb(29, 29, 204);
}

.basico {
    color: rgb(101, 146, 10);
}

.intermediario {
    color: rgb(253, 135, 0);
}

.avancado {
    color: red;
}

p {
    text-align: justify;
}
